@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-content-card {
    padding: 20px;
    min-height: 280px;
    height: auto;
}

.row {
    width: 200px;
    user-select: none;
}

