
<div class="da-content-banner">
	<d-breadcrumb>
	  <d-breadcrumb-item
		><a routerLink="/">
			Home
		</a></d-breadcrumb-item
	  >
	  <d-breadcrumb-item>
		Promotions
	  </d-breadcrumb-item>
	  <d-breadcrumb-item>
		Promotion Client
	  </d-breadcrumb-item>
	</d-breadcrumb>
	<div class="da-content-banner-title">
		Promotion Client
	</div>
	<div>
		Your Page Related Description
	</div>
</div>

<div class="da-content-wrapper">
	<div class="da-content-card">
		<da-basic-form></da-basic-form>
	</div>
</div>
