
<div class="da-content-banner">
	<d-breadcrumb>
	  <d-breadcrumb-item
		><a routerLink="/">
			Home
		</a></d-breadcrumb-item
	  >
	  <d-breadcrumb-item>
		Customer management
	  </d-breadcrumb-item>
	  <d-breadcrumb-item>
		Customer Card
	  </d-breadcrumb-item>
	</d-breadcrumb>
	<div class="da-content-banner-title">
		Customer Card
	</div>
	<div>
		Your Page Related Description
	</div>
</div>	

<div class="da-content-wrapper">
	<div class="da-content-card">
		<h4 class="client-code">Client Code</h4>
		<input dTextInput placeholder="Please Enter" placeholder="Client code"/>
	</div>
</div>