
<div class="da-content-banner">
	<d-breadcrumb>
	  <d-breadcrumb-item
		><a routerLink="/">
			Home
		</a></d-breadcrumb-item
	  >
	  <d-breadcrumb-item>
		Customer management
	  </d-breadcrumb-item>
	  <d-breadcrumb-item>
		Customer Card
	  </d-breadcrumb-item>
	</d-breadcrumb>
	<div class="da-content-banner-title">
		Customer Card
	</div>
	<div>
		Your Page Related Description
	</div>
</div>	

<div class="da-content-wrapper">
	<div class="da-content-card">
		<form
        dForm
        ngForm
        [dValidateRules]="{
          message: 'The form verification failed, please check.'
        }"
        [layout]="verticalLayout"
        #projectForm="dValidateRules"
        (dSubmit)="submitForm($event)"
        autocomplete="off"
      >
	  
		<d-form-item class="d-form-item">
			<d-form-label
			[required]="true"
			>Customer Code</d-form-label
			>
			<d-form-control>
			<input
				dTextInput
				autocomplete="off"
				name="customerCode"
				placeholder="Customer Code"
				[(ngModel)]="customerCode"
				[dValidateRules]="{
				validators: [{ required: true }],
				asyncValidators: [
					{
					sameName: this.checkCode.bind(this),
					message: 'Customer card does not exist.'
					}
				]
				}"
			/>
			</d-form-control>
		</d-form-item>
		
		<ng-container *ngIf="validCode === true">
			Hello
		</ng-container>
		

		<d-form-operation>
			<d-button
			  dLoading
			  class="mr-element-spacing"
			  circled="true"
			  style="margin-right: 8px"
			  dFormSubmit
			  [showLoading]="projectForm.pending"
			  [dFormSubmitData]="'submit-button'"
			>
			  Submit
			</d-button>
		</d-form-operation>
	  </form>
	</div>
</div>