@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";


.da-content-banner,
.da-content-wrapper {
    user-select: none;
}

.da-content-card.form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.da-content-card input {
    width: 400px;
}

// Content Style
.da-content-card.content {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; 
    padding: 20px; /* Optional padding */
}

.da-content-card.content .card {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:  all 0.3s; /* Smooth transition for scaling and box-shadow */
}

  
.da-content-card.content .card:hover {
    box-shadow: 0 2px 8px rgba(156, 160, 169, 0.5); 
    border-radius: 8px;
}