
<div class="da-content-banner">
	<d-breadcrumb>
	  <d-breadcrumb-item
		><a routerLink="/">
			Home
		</a></d-breadcrumb-item
	  >
	  <d-breadcrumb-item>
		Sales
	  </d-breadcrumb-item>
	  <d-breadcrumb-item>
		Price List
	  </d-breadcrumb-item>
	</d-breadcrumb>
	<div class="da-content-banner-title">
		Price List
	</div>
	<div>
		Your Page Related Description
	</div>
</div>

<div class="da-content-wrapper">
	<div class="da-content-card">
		<da-basic-form></da-basic-form>
		<da-basic-list></da-basic-list>
	</div>
	
</div>