<!-- <d-row>
  <d-col [dSpan]="{ ss: 12, xs: 8 }">
    <div class="da-content-wrapper">
        <div class="da-content-card">
          <div echarts [options]= "option_1"></div>
        </div>
    </div>
  </d-col>
  <d-col [dSpan]="{ ss: 12, xs: 8 }">
    <div class="da-content-wrapper">
        <div class="da-content-card">
          <div echarts [options]= "option_1"></div>
        </div>
    </div>
  </d-col>
</d-row> -->
<div class="da-content-wrapper">
    <d-row>
        <div class="da-content-card da-content-card-first" style="height: 150px;">
          <div class="da-content-title">TOTAL CLIENTS CONNECTED TODAY</div>
          <div class="d-card d-client">
            <h2 >{{this.totalClientConnected}}</h2>
            <img src="../../../../assets/img/icons/rating.png"  alt="Clients">
          </div>
        </div>

        <div class="da-content-card da-content-card-first">
          <div class="da-content-title">TOTAL PROFITS TODAY</div>
          <div class="d-card d-profits">
            <h2 >{{this.totalProfit}} €</h2>
            <img src="../../../../assets/img/icons/business-and-finance.png"  alt="profits">
          </div>
        </div>

        <div class="da-content-card da-content-card-first">
          <div class="da-content-title"> QUANTITY OF ARTICLES TODAY</div>
          <div class="d-card d-quantity">
            <h2 >{{this.totalQuantity}}</h2>
            <img src="../../../../assets/img/icons/quantity.png"  alt="quantity">
          </div>
        </div>

        <div class="da-content-card">
          <div class="da-content-title">PRICE PER AGENCY</div>
          <d-col [dSpan]="{ ss: 12, xs: 6 }">
            <div echarts [options]= "option_1"></div>
          </d-col>
        </div>
          
        <div class="da-content-card">
          <div class="da-content-title">QUANTITY PER AGENCY</div>
          <d-col [dSpan]="{ ss: 12, xs: 6 }"><div echarts [options] = "option_2"></div></d-col>
        </div>

        <div class="da-content-card">
          <div class="da-content-title">STATE OF AGENCY</div>
          <d-basic class="da-table"></d-basic>
        </div>
          
          
        <div class="da-content-card da-content-card-two">
          <div class="da-content-title">QUANTITY PER CATEGORY</div>
          <d-col [dSpan]="{ ss: 12, xs: 6 }"><div echarts [options]= "option_3"></div></d-col>
        </div>

        <div class="da-content-card da-content-card-three">
          <div class="da-content-title">TOTAL CLIENTS CONNECTED PER AGENCE</div>
          <d-col [dSpan]="{ ss: 12, xs: 6 }"><div echarts [options] = "option_4"></div></d-col>
        </div>
    </d-row>
</div>