
<div class="da-content-banner">
	<d-breadcrumb>
	  <d-breadcrumb-item
		><a routerLink="/">
			Home
		</a></d-breadcrumb-item
	  >
	  <d-breadcrumb-item>
		Customer management
	  </d-breadcrumb-item>
	  <d-breadcrumb-item>
		Total Customers
	  </d-breadcrumb-item>
	</d-breadcrumb>
	<div class="da-content-banner-title">
		Total Customers per agency
	</div>
	<div>
		Interface for presenting the total number of customers per agency
	</div>
</div>

<div class="da-content-wrapper">
	<da-pie-chart></da-pie-chart>
</div>