@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-basic-form {
  padding: 48px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

form {
  margin: 0 auto;
  max-width: 50%;
}

@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}

.devui-input-group-addon {
  width: 1%;
  vertical-align: middle;

  &:hover {
    color: $devui-brand-active;
  }
}

.devui-input-group {
  max-width: 250px;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

:host ::ng-deep .devui-select-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.da-content-card {
  box-shadow: 0 2px 8px rgba(156, 160, 169, 0.7); 
}

.d-container-present {
  box-shadow: 0 2px 8px rgba(156, 160, 169, 0.7); 
  border-radius: 6px;
  margin-top: 60px;
  width: 100%;
  height: 140px;
  .d-card-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
  .card {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    .card-data {
      height: 40%;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      h3 {
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
      p {
        margin-left: 2px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 14px;
      }
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}