@import 'ng-devui/styles-var/devui-var.scss';

.da-logo {
  display: flex;
  align-items: center;
  user-select: none;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  cursor: pointer;

  .da-logo-devui {
    margin-right: 12px;
    display: flex;
    align-items: center;

    img {
      width: 120px;
      height: 35px;
    }
  }

  .da-logo-text {
    font-size: $devui-font-size-modal-title;
    font-weight: 600;
    white-space: nowrap;
  }

  &:focus {
    outline: none;
  }
}

.router-active {
  outline: none;
}

.da-logo-shrink {
  width: 54px;
  padding-left: 0;
  justify-content: center;
  display: flex;
  align-items: center;

  .da-logo-devui {
    margin-top: 10px;
    margin-right: 0;
  }

  img {
    width: 45px;
    height: 45px;
  }
}