

<div class="da-logo" *ngIf="!shrink" routerLink="/">
  <span class="da-logo-devui">
    <img src="../../../../../assets/img/background/logo.png" alt="Lavapiu-Logo" />
  </span>
  <!-- <span *ngIf="!shrink" class="da-logo-text">LavaPiu</span> -->
</div>

<div class="da-logo-shrink" *ngIf="shrink" routerLink="/">
  <span class="da-logo-devui">
    <img src="../../../../../assets/img/background/logoSmall.png" alt="Lavapiu-Logo" />
  </span>
  <!-- <span *ngIf="!shrink" class="da-logo-text">LavaPiu</span> -->
</div>