
      <form
        dForm
        ngForm
        [dValidateRules]="{
          message: 'The form verification failed, please check.'
        }"
        [layout]="verticalLayout"
        #projectForm="dValidateRules"
        (dSubmit)="submitProjectForm($event)"
        autocomplete="off"
      >

      <d-form-item>
        <d-form-label
          [required]="false"
          [hasHelp]="false"
          [helpTips]="'This is Agency name.'"
          >Agency</d-form-label
        >
        <d-form-control>
          <d-select
            [options]="AgencyOptions"
            [(ngModel)]="projectFormData.AgencyName"
            [name]="'AgencyName'"
            [placeholder]="'Select Agency'"
            [filterKey]="'name'"
            [valueKey]="'name'"
            [allowClear]="true"
            [dValidateRules]="[{ required: false }]"
          ></d-select>
        </d-form-control>
      </d-form-item>
      <ng-container *ngIf="projectFormData.AgencyName !== null ">

        <d-form-item>
          <d-form-label [required]="true">date interval</d-form-label>
          <d-form-control>
            <div class="devui-input-group devui-dropdown-origin">
              <input
                class="devui-input devui-form-control"
                placeholder="y/MM/dd  -  y/MM/dd"
                name="dp"
                [(ngModel)]="projectFormData.projectCycleTime"
                (click)="dateRangePicker.toggle()"
                autocomplete="off"
                dDateRangePicker
                #dateRangePicker="dateRangePicker"
                (selectedRangeChange)="getValue($event)"
                [hideOnRangeSelected]="true"
                [dValidateRules]="[{ required: true }]"
              />
              <div
                *ngIf="everyRange(projectFormData.projectCycleTime)"
                class="devui-input-group-addon close-icon-wrapper"
                (click)="dateRangePicker.clearAll()"
              >
                <i class="icon icon-close"></i>
              </div>
              <div
                class="devui-input-group-addon"
                (click)="dateRangePicker.toggle()"
              >
                <i class="icon icon-calendar"></i>
              </div>
            </div>
          </d-form-control>
        </d-form-item>

        <d-form-operation>
          <d-button
            dLoading
            class="mr-element-spacing"
            [title]="projectForm.errorMessage || ''"
            circled="true"
            style="margin-right: 8px"
            [showLoading]="projectForm.pending"
            dFormSubmit
            [dFormSubmitData]="'submit-button'"
          >
            Submit
          </d-button>
        </d-form-operation>

       
      </ng-container>
      </form>


